<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:replace="~{layout-admin :: layout(~{::content})}">
    <div th:fragment="content">
        <h1>Administration Panel</h1>
        <p>Welcome, administrator</p>
        <hr>

        <h2>Management</h2>
        <ul>
            <li><a th:href="@{/cinemes}">🎭 Manage Cinemas</a></li>
            <li><a th:href="@{/movies}">🎬 Manage Movies</a></li>
            <li><a th:href="@{/admin/orders}">🧾 Manage Orders</a></li>
        </ul>

        <br>
        <a th:href="@{/logout}">Logout</a>
    </div>
</div>
</body>
</html>
