<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    

<body>

<div th:replace="~{layout :: layout(~{::content})}">

<div th:fragment="content">

<h1 th:text="${cinema.name}"></h1>

<p>Ciutat: <span th:text="${cinema.city}"></span></p>
<p>Adreça: <span th:text="${cinema.adress}"></span></p>

<h2>Sales</h2>

<ul>
    <li th:each="room : ${cinema.rooms}">
        <span th:text="${room.name}"></span>
        (Capacitat: <span th:text="${room.capacity}"></span>)
        &nbsp;

        <a th:href="@{/room/{id}(id=${room.id})}">
            Veure detall
        </a>

        &nbsp;

        <a th:href="@{/room/edit/{id}(id=${room.id})}">
            Editar
        </a>

        &nbsp;

        <a th:href="@{/room/delete/{id}(id=${room.id})}">
            Esborrar
        </a>

        <a th:href="@{/room/{id}/seats(id=${room.id})}">
    Seients
</a>
&nbsp;
    </li>
</ul>

<a th:href="@{/room/create(cinemaId=${cinema.id})}">
    Nova Sala
</a>

<br><br>

<a th:href="@{/cinemes}">
    Tornar
</a>

</div>

</div>

</body>
</html>