<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    

<body>

<div th:replace="~{layout :: layout(~{::content})}">

<div th:fragment="content">

<h1>Afegir Nou Cinema</h1>

<form th:action="@{/cinema/create}" th:object="${cinema}" method="post">
       
<label>Nom:</label>
<input type="text" th:field="*{name}" />
<br><br>
<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>

<label>Adreça:</label>
<input type="text" th:field="*{adress}" />
<br><br>
<div th:if="${#fields.hasErrors('adress')}" th:errors="*{adress}"></div>

<label>Ciutat:</label>
<input type="text" th:field="*{city}" />
<br><br>
<div th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></div>

<label>Codi Postal:</label>
<input type="text" th:field="*{postalCode}" />
<br><br>
<div th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}"></div>

<button type="submit">Guardar</button>

<a th:href="@{/cinemes}">Tornar enrere</a>

</form>

</div>

</div>

</body>
</html>