<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    

<body>

<div th:replace="~{layout :: layout(~{::content})}">

<div th:fragment="content">

<h1>Editar Cinema</h1>

<form th:action="@{/edit/cinema}" th:object="${cinema}" method="post">

<input type="hidden" th:field="*{id}" />

<label>Nom:</label>
<input type="text" th:field="*{name}" />
<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red;"></div>

<label>Adreça:</label>
<input type="text" th:field="*{adress}" />
<div th:if="${#fields.hasErrors('adress')}" th:errors="*{adress}" style="color:red;"></div>

<label>Ciutat:</label>
<input type="text" th:field="*{city}" />
<div th:if="${#fields.hasErrors('city')}" th:errors="*{city}" style="color:red;"></div>

<label>Codi Postal:</label>
<input type="text" th:field="*{postalCode}" />
<div th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}" style="color:red;"></div>

<br>

<button type="submit">Guardar</button>

<a th:href="@{/cinemes}">Tornar enrere</a>

</form>

</div>

</div>

</body>
</html>