<h3>Seients disponibles</h3>
    <div class="seats">
        <form 
            th:action="@{/screenings/seats/confirm/{id}(id=${screening.id})}"
            th:object="${selectedSeats}" method="post">
            
            <label th:each="seat : ${screening.room.seats}">
                <input type="checkbox"
                       th:id="'seat-' + ${seat.id}"
                       th:field="*{seats}"
                       th:value="${seat.id}"
                       class="seat-checkbox"/>
                <span th:text="${seat.id}"></span>
            </label>
            
            <input type="submit" value="Confirmar selecció" class="btn"/>
        </form>
    </div>
</div>