<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    

<body>

<div th:replace="~{layout :: layout(~{::content})}">

<div th:fragment="content">

<h1>Crear Pel·lícula</h1>

<form th:action="@{/movies/create}" th:object="${movie}" method="post">

<label>Títol</label>
<input type="text" th:field="*{title}">
<br><br>

<label>Durada (min)</label>
<input type="number" th:field="*{duration}">
<br><br>

<label>Gènere</label>
<input type="text" th:field="*{genre}">
<br><br>

<label>Descripció</label>
<textarea th:field="*{sinopsis}"></textarea>
<br><br>

<label>Data Estrena</label>
<input type="date" th:field="*{releaseDate}">
<br><br>

<button type="submit">Guardar</button>

</form>

<br>

<a th:href="@{/movies}">Tornar</a>

</div>

</div>

</body>
</html>