<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>CinemaDaw</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<header>
    <h1>Cinema DAW1</h1>
    <nav>
        <a href="/cinemes">Cinemes</a>
        <a href="#">Contacte</a>
        <a href="/movies">Pel·lícules</a>
    </nav>
</header>

<section>
    <h2>Viu la magia del cinema</h2>
    <p>Les millors estrenes, la millor experiencia</p>
</section>

<section>

<h2>Notícies</h2>

<div th:each="n : ${llista}">

    <h3 th:text="${n.headline}"></h3>
    <p th:text="${n.body}"></p>

</div>

</section>

<footer>
<p>2026 Cinema Daw</p>
</footer>

</body>
</html>