<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:replace="~{layout-admin :: layout(~{::content})}">
    <div th:fragment="content">
        <section>
            <h2>Experience the Magic of Cinema</h2>
            <p>The best premieres, the best experience</p>
        </section>

        <section>
            <h2>News</h2>
            <div th:each="n : ${llista}">
                <h3 th:text="${n.headline}"></h3>
                <p th:text="${n.body}"></p>
            </div>
        </section>
    </div>
</div>
</body>
</html>
