<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6"
      lang="en"
      th:fragment="layout(content)">
<head>
    <meta charset="UTF-8">
    <title>CineX Admin</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <div style="display:flex; justify-content:space-between; align-items:center;">
        <h1>CineX</h1>

        <div sec:authorize="hasRole('ADMIN')">
            <span sec:authentication="name"></span> (Admin)
            &nbsp;
            <a href="/logout">Logout</a>
        </div>
    </div>

    <nav sec:authorize="hasRole('ADMIN')">
        <a href="/home">Home</a>
        <a href="/movies">Movies</a>
        <a href="/cinemes">Cinemas</a>
        <a href="/admin/orders">Orders</a>
    </nav>
    <hr>
</header>

<main th:replace="${content}">
</main>

<footer>
    <hr>
    <p>DAW1 2026</p>
</footer>
</body>
</html>
