<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:replace="~{layout-public :: layout(~{::content})}">
    <div th:fragment="content">

        <h2>Iniciar Sessió</h2>

        <div th:if="${param.error}" style="color:red;">
            Usuari o contrasenya incorrectes.
        </div>

        <div th:if="${param.logout}" style="color:green;">
            Has tancat la sessió correctament.
        </div>

        <form th:action="@{/login}" method="post">
            <label>Usuari:</label>
            <input type="text" name="username" />
            <br><br>
            <label>Contrasenya:</label>
            <input type="password" name="password" />
            <br><br>
            <button type="submit">Entrar</button>
        </form>

    </div>
</div>
</body>
</html>


